<!-- INCLUDE overall_header.html -->

<h2>{MAPUSERS_MESSAGE}</h2>

<script src="https://maps.googleapis.com/maps/api/js?key={GAPI_KEY}"></script>
    <app-gm>Loading...</app-gm>
<script type="text/javascript" src="inline.bundle.js"></script><script type="text/javascript" src="polyfills.bundle.js"></script><script type="text/javascript" src="styles.bundle.js"></script><script type="text/javascript" src="vendor.bundle.js"></script><script type="text/javascript" src="main.bundle.js"></script></body>
<!-- INCLUDEJS inline.bundle.js -->
<!-- INCLUDEJS polyfills.bundle.js -->
<!-- INCLUDEJS styles.bundle.js -->
<!-- INCLUDEJS vendor.bundle.js -->
<!-- INCLUDEJS main.bundle.js -->
<!-- INCLUDE overall_footer.html -->
