<!-- INCLUDE overall_header.html -->
<!-- INCLUDECSS styles.css -->
<!-- INCLUDECSS styles-bundle.css -->

<h2>{MAPUSERS_MESSAGE}</h2>

<script src="https://maps.googleapis.com/maps/api/js?key={GAPI_KEY}"></script>
<app-gm>Loading...</app-gm>
<script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
</body>
<!-- INCLUDEJS inline.bundle.js -->
<!-- INCLUDEJS polyfills.bundle.js -->
<!-- INCLUDEJS styles.bundle.js -->
<!-- INCLUDEJS vendor.bundle.js -->
<!-- INCLUDEJS main.bundle.js -->
<!-- INCLUDE overall_footer.html -->
